<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

  <strong>microposts:</strong>
  <% @user.microposts.each do |m| %>
<p>
  <%= m.id %>:
  <%= m.content %>
</p>
  <% end %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
